{{- define "main" }}

<article class="post-single">
    <header class="post-header">
        {{ partial "breadcrumbs.html" . }}
        <h1 class="post-title entry-hint-parent">
            {{ .Title }}
            {{- if .Draft }}
            <span class="entry-hint" title="Draft">
                <svg xmlns="http://www.w3.org/2000/svg" height="35" viewBox="0 -960 960 960" fill="currentColor">
                    <path
                        d="M160-410v-60h300v60H160Zm0-165v-60h470v60H160Zm0-165v-60h470v60H160Zm360 535c-11 0-20-10-20-20t20-20h280v-280h-280c-11 0-20-10-20-20t20-20h280v-280h-280c-11 0-20-10-20-20t20-20h280q33 0 56.5 23.5T800-790v600q0 33-23.5 56.5T720-110H520Zm-80-60 60-60 60 60h-120Z" />
                </svg>
            </span>
            {{- end }}
        </h1>
        {{- if .Description }}
        <div class="post-description">
            {{ .Description }}
        </div>
        {{- end }}
        {{- if not (.Param "hideMeta") }}
        <div class="post-meta">
            {{- partial "post_meta.html" . -}}
            {{- partial "translation_list.html" . -}}
            {{- partial "edit_post.html" . -}}
            {{- partial "post_canonical.html" . -}}
            <span id="busuanzi_container_page_pv"
                style="margin-left: 10px; color: red !important; background: yellow !important; font-weight: bold;">
                [DEBUG] <span id="busuanzi_value_page_pv">0</span> Views
            </span>
        </div>
        {{- end }}
    </header>
    {{- $isHidden := .Params.cover.hidden | default site.Params.cover.hiddenInSingle | default site.Params.cover.hidden
    }}
    {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
    {{- if (.Param "ShowToc") }}
    {{- partial "toc.html" . }}
    {{- end }}

    {{- if .Content }}
    <div class="post-content">
        {{- if not (.Param "disableAnchoredHeadings") }}
        {{- partial "anchored_headings.html" .Content -}}
        {{- else }}{{ .Content }}{{ end }}
    </div>
    {{- end }}

    <footer class="post-footer">
        {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
        <ul class="post-tags">
            {{- range ($.GetTerms $tags) }}
            <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
            {{- end }}
        </ul>
        {{- if (.Param "ShowPostNavLinks") }}
        {{- partial "post_nav_links.html" . }}
        {{- end }}
        {{- if (and site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
        {{- partial "share_icons.html" . -}}
        {{- end }}
    </footer>

    {{- if (.Param "comments") }}
    {{- partial "comments.html" . }}
    {{- end }}
</article>

{{- end }}{{/* end main */}}