<meta property="og:site_name" content="MyYacht 제부도 요트 투어" />
<meta property="og:locale" content="ko_KR" />

{{- /* Title Logic */ -}}
{{- $title := "" -}}
{{- $siteURL := strings.TrimSuffix "/" (site.Params.siteURL | default site.BaseURL) -}}
{{- if .IsHome -}}
{{- $title = site.Title -}}
{{- else -}}
{{- $title = printf "%s | MyYacht" .Title -}}
{{- end -}}
<meta property="og:title" content="{{ $title }}" />

{{- /* Description Logic */ -}}
{{- $desc := partial "meta_description.html" . -}}
<meta property="og:description" content="{{ $desc }}" />

{{- /* URL Logic (Absolute) */ -}}
{{- $pageURL := printf "%s%s" $siteURL .RelPermalink -}}
<meta property="og:url" content="{{ $pageURL }}" />

{{- /* Image Logic */ -}}
{{- $ogImage := printf "%s/images/og-main.jpg" $siteURL -}}

{{- if .Params.cover.image -}}
{{- if (findRE "^http" .Params.cover.image) -}}
{{- $ogImage = .Params.cover.image -}}
{{- else -}}
{{- /* Build absolute image URLs from siteURL to avoid localhost in deploy metadata */ -}}
{{- with .Resources.GetMatch .Params.cover.image -}}
{{- $ogImage = printf "%s%s" $siteURL .RelPermalink -}}
{{- else -}}
{{- if hasPrefix .Params.cover.image "/" -}}
{{- $ogImage = printf "%s%s" $siteURL .Params.cover.image -}}
{{- else -}}
{{- $ogImage = printf "%s%s%s" $siteURL .RelPermalink .Params.cover.image -}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}

<meta property="og:image" content="{{ $ogImage }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />

