{{- $siteURL := strings.TrimSuffix "/" (site.Params.siteURL | default site.BaseURL) -}}
{{- $localBusinessID := printf "%s/#myyacht-localbusiness" $siteURL -}}
{{- $captainID := printf "%s/#captain-lima" $siteURL -}}
{{ if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "LocalBusiness",
      "@id": "{{ $localBusinessID }}",
      "name": "MyYacht 제부도 요트 투어",
      "alternateName": "마이요트",
      "url": "{{ printf "%s%s" $siteURL .RelPermalink }}",
      "image": "{{ printf "%s/images/og-main.jpg" $siteURL }}",
      "telephone": "0507-1450-7890",
      "priceRange": "$$",
      "description": {{ partial "meta_description.html" . | jsonify }},
      "founder": {
        "@id": "{{ $captainID }}"
      },
      "employee": {
        "@id": "{{ $captainID }}"
      },
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "경기도 화성시 만세구 서신면 해안길 477 (마이 요트)",
        "addressLocality": "Hwaseong-si",
        "addressRegion": "Gyeonggi-do",
        "postalCode": "18554",
        "addressCountry": "KR"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 37.1759,
        "longitude": 126.6666
      },
      "openingHoursSpecification": {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday",
          "Saturday",
          "Sunday"
        ],
        "opens": "09:00",
        "closes": "23:00"
      },
      "areaServed": {
        "@type": "AdministrativeArea",
        "name": "경기도 화성시 제부도"
      }
    },
    {
      "@type": "Person",
      "@id": "{{ $captainID }}",
      "name": "Captain Lima",
      "alternateName": "리마 선장",
      "url": "{{ $siteURL }}/",
      "image": "{{ printf "%s/images/og-main.jpg" $siteURL }}",
      "description": "Master Mariner(1급 해기사) 자격과 총 항해거리 약 58만 해리(nautical miles, 지구 약 27바퀴)에 해당하는 실항해 경력을 바탕으로 운항하는 마이요트 운영자입니다. 전 VLCC 원유선 선장 경력을 보유했으며, 해양경찰 대행 안전검사원, 화성시 요트협회 전무이사, NAUI Scuba Instructor로 활동하고 있습니다.",
      "jobTitle": [
        "Master Mariner",
        "1급 해기사",
        "NAUI Scuba Instructor",
        "해양경찰 대행 안전검사원",
        "화성시 요트협회 전무이사"
      ],
      "hasCredential": [
        {
          "@type": "EducationalOccupationalCredential",
          "credentialCategory": "해기사 면허",
          "name": "Master Mariner (1급 해기사)"
        },
        {
          "@type": "EducationalOccupationalCredential",
          "credentialCategory": "Scuba Diving Instructor Certification",
          "name": "NAUI Scuba Instructor"
        }
      ],
      "knowsAbout": [
        "요트 안전 운항",
        "해양 안전 점검",
        "세일링 실무",
        "항해 계획",
        "스쿠버 다이빙 안전"
      ],
      "worksFor": {
        "@id": "{{ $localBusinessID }}"
      },
      "affiliation": {
        "@type": "Organization",
        "name": "화성시 요트협회"
      },
      "sameAs": [
        "https://blog.naver.com/capt_lima",
        "https://www.instagram.com/my_yacht_kr",
        "https://www.youtube.com/@my_yacht"
      ]
    }
  ]
}
</script>
{{ else if (or .IsPage .IsSection) }}
{{/* BreadcrumbList (From PaperMod) */}}
{{- $url := replace .Parent.Permalink ( printf "%s" site.Home.Permalink) "" }}
{{- $lang_url := strings.TrimPrefix ( printf "%s/" .Lang) $url }}
{{- $bc_list := (split $lang_url "/")}}
{{- $scratch := newScratch }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
  {{- range $index, $element := $bc_list }}
    {{- $scratch.Add "path" (printf "%s/" $element ) | safeJS }}
    {{- $bc_pg := site.GetPage ($scratch.Get "path") -}}
    {{- if (and ($bc_pg) (gt (len . ) 0))}}
    {{- if (and $index)}}, {{end }}
    {
      "@type": "ListItem",
      "position": {{ add 1 $index  }},
      "name": {{ $bc_pg.Name }},
      "item": {{ printf "%s%s" $siteURL $bc_pg.RelPermalink | safeHTML }}
    }
    {{- end }}
  {{- end }}
  {{- if (ge (len $bc_list) 2) }}, {{end }}
    {
      "@type": "ListItem",
      "position": {{len $bc_list}},
      "name": {{ .Name }},
      "item": {{ printf "%s%s" $siteURL .RelPermalink | safeHTML }}
    }
  ]
}
</script>

{{- if .IsPage }}
{{- $schemaType := .Params.schemaType | default "BlogPosting" -}}
{{- if eq $schemaType "WebPage" }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "@id": "{{ printf "%s%s#webpage" $siteURL .RelPermalink }}",
  "url": "{{ printf "%s%s" $siteURL .RelPermalink }}",
  "name": {{ .Title | plainify | jsonify | safeJS }},
  "description": {{ partial "meta_description.html" . | htmlUnescape | replaceRE `&amp;` `&` | jsonify | safeJS }},
  "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
  "inLanguage": {{ .Lang | jsonify | safeJS }},
  "isPartOf": {
    "@type": "WebSite",
    "name": "MyYacht",
    "url": "{{ printf "%s/" $siteURL }}"
  }
}
</script>
{{- else }}
{{/* BlogPosting (Custom Optimization) */}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "@id": "{{ printf "%s%s#blogposting" $siteURL .RelPermalink }}",
  "url": "{{ printf "%s%s" $siteURL .RelPermalink }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ printf "%s%s#webpage" $siteURL .RelPermalink }}"
  },
  "inLanguage": {{ .Lang | jsonify | safeJS }},
  "headline": {{ .Title | plainify | jsonify | safeJS }},
  "description": {{ partial "meta_description.html" . | htmlUnescape | replaceRE `&amp;` `&` | jsonify | safeJS }},
  {{- $images := .Resources.ByType "image" -}}
  {{- $cover := .Params.cover.image -}}
  {{- $hasImages := or (gt (len $images) 0) $cover -}}
  {{- if $hasImages }}
  "image": [
    {{- range $i, $e := $images -}}
        {{- if $i }},{{ end -}}
        "{{ printf "%s%s" $siteURL $e.RelPermalink }}"
    {{- end -}}
    {{- if not $images -}}
        {{- with $cover -}}
            "{{ printf "%s/%s" $siteURL (strings.TrimPrefix "/" .) }}"
        {{- end -}}
    {{- end -}}
   ],
   {{- end }}
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
  "author": {
    "@type": "Person",
    "@id": "{{ $captainID }}",
    "name": "Captain Lima"
  },
  {{- $keywords := "" -}}
  {{- if .Params.keywords -}}
    {{- $keywords = delimit .Params.keywords ", " -}}
  {{- else if .Params.tags -}}
    {{- $keywords = delimit .Params.tags ", " -}}
  {{- end -}}
  {{- if ne $keywords "" }}
  "keywords": {{ $keywords | jsonify | safeJS }},
  {{- end }}
  "publisher": {
    "@type": "Organization",
    "name": "MyYacht",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ printf "%s/favicon.png" $siteURL }}"
    }
  }
}
</script>
{{- end }}
{{- end }}
{{- end -}}
